.login_form_container {
    width: 30%;
    /* background-color: pink; */
    min-height: 100vh;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form_style {
    width: 100%;
}

.submit_button {
    width: 100%;
}